# Blockchain Configuration
PERSISTED_CHAIN_PATH=saved_files/
DB_PATH=saved_files/bd/caramuru_main_db.db
MAX_MINING_ATTEMPTS=3
MAX_FORK_BLOCKS=1000

# Wallet Configuration
MINER_WALLET_SEED_PATH=keys/miner_wallet.json
MINER_WALLET_PASSWORD=miner123
WALLET_KEYS_DIR=keys
# Prod
PBKDF2_ITERATIONS=600000
# Dev
# PBKDF2_ITERATIONS=1


# Network Configuration
BIND_ADDR=127.0.0.1
P2P_PORT=6000
P2P_ADVERTISED_ADDR=127.0.0.1:6000
PEERS=18.116.162.147:6000
# Maximum number of connected peers per node
MAX_PEER_CONNECTIONS=8

# RPC Configuration
RPC_PORT=7000
HTTP_PORT=7001

# Mining Configuration
MINING_THREADS=1

# Logging Configuration
LOG_FILE_PATH=saved_files/node.log
# LOG_MODE options: "full" (stdout + file), "file_only", "disabled"
LOG_MODE=full
