services:
  root-node:
    build: .
    hostname: root-node
    ports:
      - "6000:6000"
    environment:
      - PERSISTED_CHAIN_PATH=/data
      - DB_PATH=/data/blockchain.db
      - MINER_WALLET_SEED_PATH=/keys/miner_wallet.json
      - MINER_WALLET_PASSWORD=miner123
      - MAX_MINING_ATTEMPTS=1000000
      - P2P_PORT=6000
    volumes:
      - ./.docker-data/root-node:/data
      - ./keys:/keys
    tty: true
    stdin_open: true

  node-1:
    build: .
    hostname: node1
    ports:
      - "6001:6000"
    depends_on:
      - root-node
    environment:
      - PERSISTED_CHAIN_PATH=/data
      - DB_PATH=/data/blockchain.db
      - MINER_WALLET_SEED_PATH=/keys/miner_wallet.json
      - MINER_WALLET_PASSWORD=miner123
      - MAX_MINING_ATTEMPTS=1000000
      - P2P_PORT=6000
      - PEERS=root-node:6000
    volumes:
      - ./.docker-data/node1:/data
      - ./keys:/keys
    tty: true
    stdin_open: true

  node-2:
    build: .
    hostname: node2
    ports:
      - "6002:6000"
    depends_on:
      - node-1
    environment:
      - PERSISTED_CHAIN_PATH=/data
      - DB_PATH=/data/blockchain.db
      - MINER_WALLET_SEED_PATH=/keys/miner_wallet.json
      - MINER_WALLET_PASSWORD=miner123
      - MAX_MINING_ATTEMPTS=1000000
      - P2P_PORT=6000
      - PEERS=root-node:6000
    volumes:
      - ./.docker-data/node2:/data
      - ./keys:/keys
    tty: true
    stdin_open: true
